[submodule "OS-Lab-Commands"]
	path = OS-Lab-Commands
	url = https://github.com/40021441054102/OS-Lab-Commands.git
[submodule "OS-Lab-Projects"]
	path = OS-Lab-Projects
	url = https://github.com/40021441054102/OS-Lab-Projects.git
